.page1{
    background-color:cornflowerblue;
}

.page2{
    background-color: darksalmon;
}

.page3{
    background-color: lavender;
}

.page4{
    background-color: lightpink;
}

.page5{
    background-color: slateblue;
}

.table{
    border: 6px solid black;
}
